version: "3"
services:
  moebooru:
    build:
      context: .
    environment:
      - MB_DATABASE_URL=postgres://moebooru:moebooru@postgres:5432/moebooru
      - MB_MEMCACHE_SERVERS=memcached:11211
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
    ports:
      - 8080:3000
    volumes:
      - ./data/moebooru:/data
      - ./data/moebooru-public:/moebooru/public/data
      - ./config/database.yml:/moebooru/config/database.yml:ro
      - ./config/local_config.rb:/moebooru/config/local_config.rb:ro
    depends_on:
      postgres:
        condition: service_healthy
      memcached:
        condition: service_started
  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=moebooru
      - POSTGRES_PASSWORD=moebooru
    volumes:
      - ./data/database:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U moebooru" ]
      interval: 5s
      timeout: 5s
      retries: 10
  memcached:
    image: memcached:alpine
